#titulo{
  color: black;
  text-align: center;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('img/bk.jpg');
  font-family: 'Source Code Pro', monospace;
}
.img{
 align-content: center;
}
.form-register {
  width: 600px;
  background: rgb(201, 203, 255);
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}


.img img{
  width: 500px;
text-align: center;
}
.login-content img{
    height: 350px;
    text-align: center;
}

.controls {
  width: 100%;
  background: #CEE5D0;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #87A8A4;
  font-size: 18px;
  color:white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: #AFB9C8;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #BEAEE2;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}